.first-content{
    display: flex;
    margin:10px;
    justify-content: space-around;
    
    
}
.text-div{
    max-width: fit-content;
    margin-top:30px;
}
.text-div > p{
    min-width: fit-content;
    padding:10px;
    line-height: 25px;
}
.text-div > h2{
    text-transform: capitalize;
    width: 400px;
    color:#4A8CBB;
    padding: 10px;
}
.text-div > button{
    padding:10px 30px;
    font-weight: 500;
    background-color: #4A8CBB;
    line-height: 20px;
    color: inherit;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 13px;
    border:none;
    border-radius: 5px 0 5px;
}
.text-div > button:hover{
background-color: #00828c ;
color:#fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .text-div{
     position: relative;
     top:5%;

     min-width: 100vw;
     
     padding: 40px;
     }
    .first-content{
        position: relative;
        height: 100%;

        max-width: 100%;
        display: flex;
        flex-direction:column
    }
    .text-div > h2 {
    
        
        
        padding:10px;
        margin-inline:auto;
        
    
    }
    .text-div > p{
        color:black;
        max-width:50vw ;
        padding: 10px;
        text-align: justify;
        font-size: 16px;
       
        
        }
    .text-div > button {
    max-width: fit-content;
    margin-left: 130px;
    color: #ffff;

    
    }
    .img-div{
        display: grid;
        place-items: center;
    }
    .img-div > img{
        max-width: 300px;
         height: 250px;
        margin-left: auto;
        margin-right: auto;
        
    }
}
 
