
.firs-row{
    display: flex;
    width: 100%;
    
}

.main-div{
    margin:10px;
    margin-top:30px;
}
.fourth-component-container{
  margin-top:40px;
}
.heading-content-container > h1{
text-align: center;
color:#4A8CBB;
text-transform: capitalize;
font-size: 25px;
}
.cols{
    
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cols > img{
    display: block;
    
    

    
}


  
@media only screen and (min-width:320px) and (max-width:765px){
    
  
  .heading > h1{
  margin-left: auto;
  margin-right: auto;
   margin-bottom:10px;
   margin-top:0px;
   
}
  
  
  .cols > p{
    font-size: 18px;
    padding:5px;
    }
  
  
  .firs-row{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  .cols{
    justify-content: center;
    align-items: center;
    
  }
  
  }
  
 
 
