.team-group{
    width:100%;
    box-sizing: border-box;
    
    
}
.card{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
}
.team-group > h1{
   text-transform: uppercase; 
   margin-top:30px;
    text-align:center;
    color:#4A8CBB;
    font-size:22px;
    padding:5px;
}
.team-group > #groupss{
    margin-bottom:70px;
    margin-top:20px;

}
card{

}
@media (max-width:768px) {
    .card{
        display:grid;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        min-width: 320px;
    }
}